/* [class^="container"]{
  background-color: rgba(0, 0, 255, 0.192);
  border: 1px solid black;
}
[class^="row"]{
  background-color: rgba(0, 255, 85, 0.205);
  border: 1px solid black;
}
[class^="col"]{
  background-color: rgba(255, 0, 0, 0.185);
  border: 1px solid black;
} */

/* global & utils*/
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.affranti{
  font-size: 0.8rem;
}
.sc-overflow{
  overflow-y: scroll;
}
.sc-w-55{
  width: 53%;
}

.sc-bg-code{
  background-color: #f26551;
  border-radius: 50%;
  padding: 1px 4px;
}
.sc-btn{
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #155cba;
  padding: 4px 6px;
  border-radius: 15px;
  color: white;
}
.sc-btn-off{
  font-size: 2rem;
  font-weight: 500;
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #155cba;
  color:#155cba;
  height: 50px;
}
.sc-img{
  width: 55px;
}
/* global */

/* background */
#nav-aside{
  background-image: url("../img/sidebar-bg.png");
  background-color: #051e34;
}
#alunni-affranti{
  background-color: #1a73e8;
  
}
.sc-bg-card{
  background-color: #f7f7f7;
}
.sc-fs{
  font-size: 0.8rem;
}
/* background */
.box{
  height: 50px;
  width: 50px;
  background-color: #f8f9fa;
}
header{
  background-color: #f8f9fa;
  height: 70px;
}
/* Search bar */
.has-search .form-control {
  padding-left: 2.3rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  pointer-events: none;
  color: black;
}
/* Search bar */

/* to keep aside and right main fixed on viewport */
.sc-vh-100{
  height: calc(100vh - 70px);
}
/* to keep aside and right main fixed on viewport */

/* aside nav menu */
#nav-aside a{
  color: white;
}
/* aside nav menu */

@media only screen and (max-width: 1200px) {
  header {
    background-color: white;
  }
}